@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: "roboto", sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header, .hero, .footer {
  background-color: #1F2937;
}

/*header section*/

.header {
  display: flex;
  padding: 16px 10% 0px;
  justify-content: space-between;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: bold;
}

.links {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 16px;
}

.links a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

/*hero section + button*/

.hero {
  display: flex;
  flex: 4.5;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10%;
  gap: 36px;
}

.hero-main {
  color: #f9faf8;
  font-size: 48px;
  font-weight: bolder;
}

.hero-text {
  color: #e5e7eb;
  font-size: 18px;
}

button {
  color: #e5e7eb;
  background-color: #3882f6;
  border: none;
  border-radius: 3px;
  padding: 4px 20px;
  margin-top: 8px;
}

/*info section*/

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 5;
}

.info-header {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
}

.info-cards {
  display: flex;
  gap: 16px;
  padding-top: 32px;
}

.card-image {
  border: solid #3882f6;
  border-radius: 3px;
}

/*quote section*/

.quote {
  background-color: #e5e7eb;
  flex: 4;
}

/*call section + button*/

.call {
  display: flex;
  flex: 2.5;
}

/*footer section*/

.footer {
  display: flex;
  justify-content: center;
  color: #e5e7eb;
  font-size: 18px;
  padding: 24px;
}


